{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="fixed-centered">
        
<div class="post">
<h1><a href="{{ .Permalink}}">{{ .Title }}</a></h1>
<p class="meta"><a href="https://paulbutler.org">Paul Butler</a> &ndash; {{ .Date.Format "January 2, 2006" }}</p>
<div class="postbody">{{ .Content }}</div>
</div>

<hr />

<p>
    If you would like to be notified of future posts, you can
    <a href="https://twitter.com/paulgb">follow me on Twitter</a>
    or
    <a href="https://tinyletter.com/paulgb">subscribe to my occasional emails</a>.
</p>

</div>

{{ partial "footer.html" . }}