@import "compass/reset";
@import "foundation";
@import "compass/css3/transform";
@import "_settings";
@import "compass/css3/transition";

body {
  background-color: #fffffc !important;
  padding-bottom: 40px !important;
}

.topbar {
  background-color: $header-font-color;
  margin-bottom: 40px;

  a, a:hover, a:visited, a:active {
    color: white;
    padding: 6px;
    display: block;
    font-weight: bold;
  }
}

.section-post-content {
  ul li {
    margin-left: 20px !important;
    list-style: square;
  }

  blockquote {
    color: #222 !important;
    padding-bottom: 5px !important;
  }

  img {
    padding: 4px !important;
  }
}

pre {
  overflow-x: auto;
  padding: 6px !important;
  margin-bottom: 20px !important;
  line-height: 16px !important;
}

pre, code {
  font-family: courier, monospace !important;
  font-weight: normal !important;
  background-color: #eee !important;
}

h3 {
  color: black !important;
  font-size: 18px !important;
}

.col-minor {
  @extend .columns;
  @extend .small-12;
  @extend .large-5;
}

.col-major {
  @extend .columns;
  @extend .small-12;
  @extend .large-7;
}

.section-meta {
  @extend .large-5;
  @extend .columns;
  text-align: right;

  @media #{$small-only} {
    text-align: left;
  }

}

.section-marker {
  @extend .col-minor;
  text-align: right;

  @media #{$small-only} {
    text-align: left;
  }

  h2 {
    font-size: 100%;
    line-height: 1.6em;
    margin-top: 0;
    color: #999;
    font-weight: 500;
  }
}

.post-date {
  color: #999;
  font-style: italic;
}

.post-author {
  a {
    font-weight: bold;
    color: #444;
  }
}

.section-content {
  @extend .col-major;
  
  em {
    color: #888;
  }

  ul {
      margin-left: 0;
  }
}

h1 {
  margin-top: 0 !important;
  font-size: 44px !important;
  font-weight: bold !important;
  //font-weight: 500 !important;
}

.image-cell {
  @extend .col-minor;
  text-align: right;

  @media #{$small-only} {
    text-align: left;
  }
  
  img {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 250px;

    @include transition(0.5s);

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    -transition-property: -transform;

    @include rotate(-4deg);

    &:hover {
      @include rotate(0deg);
    }
  }

  h1 {
    position: absolute;
    left: 100%;
    padding-left: 15px;
    white-space: nowrap;
    position: absolute;
    margin: 0;
    bottom: 0;
  }
  
  @media #{$small-only} {
    text-align: left;
    img {
      @include rotate(0);
      // width: 100% !important;
      height: 100px;
      width: auto !important;
      padding: 0;
      margin: 0;
    }

    h1 {
      position: absolute;
      left: 125px;
    }

  }
}

.heading {
  @extend .row;
  margin: 40px auto;

  @media #{$small-only} {
    margin: 20px auto;
  }
}

