/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "foundation";
@import "compass/css3/transform";
@import "_settings";
@import "compass/css3/transition";

body {
  background-color: #fffffc !important;
  padding-bottom: 40px !important;
}

.topbar {
  background-color: $headerFontColor;
  margin-bottom: 40px;

  a, a:hover, a:visited, a:active {
    color: white;
    padding: 6px;
    display: block;
    font-weight: bold;
  }
}

.section-post-content {
  ul li {
    margin-left: 20px !important;
    list-style: square;
  }

  blockquote {
    color: #222 !important;
    padding-bottom: 5px !important;
  }

  img {
    padding: 4px !important;
  }
}

pre {
  overflow-x: auto;
  padding: 6px !important;
  margin-bottom: 20px !important;
  line-height: 16px !important;
}

pre, code {
  font-family: courier, monospace !important;
  font-weight: normal !important;
  background-color: #eee !important;
}

h3 {
  color: black !important;
  font-size: 18px !important;
}

.col-minor {
  @extend .offset-by-one;
  @extend .columns;
  @extend .four;
}

.col-major {
  @extend .columns;
  @extend .six;
}

.section-meta {
  @extend .five;
  @extend .columns;
  text-align: right;

  @include respondTo(smallScreen) {
    text-align: left;
  }

}

.section-marker {
  @extend .col-minor;
  text-align: right;

  @include respondTo(smallScreen) {
    text-align: left;
  }

  h2 {
    font-size: 100%;
    line-height: 1.6em;
    margin-top: 0;
    color: #999;
  }
}

.post-date {
  color: #999;
  font-style: italic;
}

.post-author {
  a {
    font-weight: bold;
    color: #444;
  }
}

.section-content {
  @extend .col-major;
  
  em {
    color: #888;
  }
}

h1 {
  margin-top: 0 !important;
}

.image-cell {
  @extend .col-minor;
  text-align: right;

  @include respondTo(smallScreen) {
    text-align: left;
  }
  
  img {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 250px;

    @include transition-duration(0.5s);
    @include rotate(-4deg);

    &:hover {
      @include rotate(0deg);
    }
  }

  h1 {
    position: absolute;
    left: 100%;
    padding-left: 15px;
    white-space: nowrap;
    position: absolute;
    margin: 0;
    bottom: 0;
  }
  
  @include respondTo(smallScreen) {
    text-align: left;
    img {
      @include rotate(0);
      // width: 100% !important;
      height: 100px;
      width: auto !important;
      padding: 0;
      margin: 0;
    }

    h1 {
      position: absolute;
      left: 125px;
    }

  }
}

.heading {
  @extend .row;
  margin: 40px auto;

  @include respondTo(smallScreen) {
    margin: 20px auto;
  }
}

