{{ partial "index_header.html" . }}

<div class="section-marker">
  <h2>bio</h2>
</div>
<div class="section-content">
  <p>
    I'm a quant in New York City. I love running, sailing, and exploring new cities.
  </p>
</div>
<div class="section-marker">
  <h2>writing</h2>
</div>
<div class="section-content">
  <ul>
    {{ range first 3 (where .Data.Pages.ByPublishDate "Section" "archives") }}
    <li>
      <a href="{{ .Params.xurl | default .Permalink }}">{{ .Title }}</a>
      <em>({{ .Date.Format "January 2, 2006" }})</em>
    </li>
    {{ end }}
    <li>
      <a href="/archives/">Older posts</a>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>projects</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://notify.run">notify.run</a>
    </li>
    <li>
      <a href="https://github.com/paulgb/Treeverse/blob/master/README.md">Treeverse</a>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>follow</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://twitter.com/paulgb">twitter</a>
    </li>
    <li>
      <a href="https://tinyletter.com/paulgb">email newsletter</a>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>links</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://bitaesthetics.com">visualization portfolio</a>
    </li>
    <li>
      <a href="https://resume.paulbutler.org">résumé</a>
    </li>
    <li>
      <a href="mailto:me@paulbutler.org">email</a>
    </li>
    <li>
      <a href="https://github.com/paulgb">github</a>
    </li>
  </ul>
</div>

{{ partial "index_footer.html" . }}
