{{ partial "index_header.html" . }}

<div class="section-marker">
  <h2>bio</h2>
</div>
<div class="section-content">
  <p>
    I'm a quant in New York City. I love running, sailing, and exploring new cities.
  </p>
  <p>
    I'm excited about <strong>tools to explore, explain, and persuade</strong>.
  </p>
  <p>
    I create interactive reports on ranked-ballot election results at <a href="https://ranked.vote/">ranked.vote</a>.
    I created <a href="https://treeverse.app/">Treeverse</a>, a browser extension for exploring
    branching conversations.
    I've developed interactive essays on the <a href="https://explore.paulbutler.org/fractal/">Mandelbrot Fractal</a>,
    <a href="https://explore.paulbutler.org/bet/">how to size bets</a>, and the
    <a href="https://explore.paulbutler.org/electoral/">mathematical nuance</a> of American elections.
    I've written code notebooks for <a href="https://nb.paulbutler.org/whitehouse-doctor-video/">forensic video analysis</a>,
    <a href="https://nb.paulbutler.org/l-systems/">Lindenmayer fractals</a>,
    <a href="https://nb.paulbutler.org/optimizing-plots-with-tsp-solver/">optimizing pen-plot routes</a>,
    and <a href="https://nb.paulbutler.org/surface-projection/">generating pseudo-3D line graphics</a>.
    I think computers are
    <a href="https://www.youtube.com/watch?v=KmuP8gsgWb8">bicycles for the mind</a> and we're still in the penny-farthing era.
  </p>
</div>
<div class="section-marker">
  <h2>writing</h2>
</div>
<div class="section-content">
  <ul>
    {{- range ( where site.RegularPages "Section" "posts" | first 5 ) }}
    <li>
      <a href="{{ .Params.xurl | default .Permalink }}">{{ .Title }}</a>
      <em>({{ .Date.Format "January 2, 2006" }})</em>
    </li>
    {{ end }}
    <li>
      <a href="/posts/" style="font-weight: bold;">all posts</a>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>projects</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://notify.run">notify.run</a>
    </li>
    <li>
      <a href="https://treeverse.app">Treeverse</a>
    </li>
    <li>
      <a href="https://ranked.vote">ranked.vote</a>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>follow</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://twitter.com/paulgb">twitter</a>
    </li>
    <li>
      <a href="/posts/index.xml">RSS</a>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>talks</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=L2KdOJRR3Vo">Pen Plotting with Pluto</a>
      at <a href="https://plutojl.org/plutocon2021">PlutoCon 2021</a> <em>(April 2021)</em>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=HNzeouj0eKc&t=1852s">Building a Multiplayer WebAssembly Game</a>
      at <a href="https://berline.rs/2021/03/23/rust-and-tell.html">Rust Berlin</a> <em>(March 2021)</em>
    </li>
  </ul>
</div>
<div class="section-marker">
  <h2>links</h2>
</div>
<div class="section-content">
  <ul>
    <li>
      <a href="https://bitaesthetics.com">portfolio</a>
    </li>
    <li>
      <a href="https://resume.paulbutler.org">résumé</a>
    </li>
    <li>
      <a href="mailto:me@paulbutler.org">email</a>
    </li>
    <li>
      <a href="https://github.com/paulgb">github</a>
    </li>
  </ul>
</div>

{{ partial "index_footer.html" . }}