---
layout: base
---
div(class='heading')
  div(class='image-cell')
    img(src='images/paul.jpg')
    h1 Paul Butler

div(class='row')
  div(class='section-marker')
    h2 bio
  div(class='section-content')
    p
      | I'm a freelance data scientist in Toronto, Canada.
      | My focus is on creative exploration and visualization
      | of large datasets. I love travelling, sailing, and
      | exploring new cities.
  
div(class='row')
  div(class='section-marker')
    h2 writing
  div(class='section-content')
    ul
      each post in getCollection('posts').toJSON()
        li
          a(href=post.url)= post.name
          |  
          em= moment(post.date).format('MMMM Do, YYYY')

div(class='row')
  div(class='section-marker')
    h2 links
  div(class='section-content')
    ul
      li
        a(href='mailto:paul@paulbutler.org') email
      li
        a(href='http://www.linkedin.com/in/paulgb') linkedin
      li
        a(href='http://github.com/paulgb') github

