---
layout: head
---
div(class='row')
  div(class='section-marker')
    h2 bio
  div(class='section-content')
    p
      | I'm a quant in New York City.
      | I love running, sailing, and exploring new cities.
  
div(class='row')
  div(class='section-marker')
    h2 writing
  div(class='section-content')
    ul
      each post in getCollection('posts').query({limit: 3}).toJSON()
        li
          a(href=post.urls[0])= post.title
          |  
          em= moment(post.date).format('MMMM Do, YYYY')
      li
        a(href='/archives/') More

div(class='row')
  div(class='section-marker')
    h2 links
  div(class='section-content')
    ul
      li
        a(href='http://bitaesthetics.com') visualization portfolio
      li
        a(href='http://resume.paulbutler.org') résumé
      li
        a(href='mailto:paulgb@gmail.com') email
      li
        a(href='http://github.com/paulgb') github
      li
        a(href='http://twitter.com/paulgb') twitter

