---
layout: base
---
div(class='topbar')
  a(href='/') Paul Butler
div(class='row')
  div(class='section-meta')
    h1= document.title
  div(class='six columns end')
    div(class='section-post-content')
      != content
  

