---
layout: base
---
div(class='topbar')
  a(href='/') Paul Butler
div(class='row')
  div(class='section-meta')
    h1= document.name
    ul
      li(class='post-author') By 
        a(href='#') Paul Butler
      li(class='post-date')= moment(document.date).format('MMMM Do, YYYY')
  div(class='six columns end')
    div
      != content
  

